<h1>Hello, my name is Diana Karen</h1>
<p>I work at Industronic</p>
<p>This page creates a superhero with a random history</p>

<br/>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title gray"><%= link_to 'Click here to generate a new superhero history', root_path %></h3>
  </div>
  <div class="panel-body">

  	<div class="row">
  		<br/>
  		<div class="col-md-4">
  				<br/> 
  					<img src="https://canalhistoria.es/wp-content/uploads/2017/07/dc-comics.jpg" alt="image" width="360" height="350" class= "figure-img img-fluid rounded">
  					
				
  		</div>

  		<div class="col-md-4">

	  		<h3>Superhero:<br/>
	  			<span class="red"> <%= @hero_hero %> <br/> </span>
	  		</h3>

	    	<h3>But in real life you are:<br/>
	     		<span class="red"> <%= @hero_name %><br/></span>
	     	</h3>

		    <h3>And your girlfriend:<br/>
		    	<span class="red"> <%= @hero_power %> <br/> <br/></span>
		    </h3> 

		    <h4> Your villian is:<br/>
		     	<span class="corp_red"> <%= @hero_villian %><br/></span>
		     </h4>
		    <h4> You are a:<br/>
		     	<span class="corp_red"> <%= @hero_house %><br/></span>
		     <h4>

		    <h4> Your undercover day job is: <br/>
		    	<span class="corp_red"> <%= @corp_power%> </span><br/>

		    <h4>
		    	
		 </div>
		<div class="col-md-4">
  			<!-- put add code -->
  		</div>
  		<br/><br/>
    

    </div>
  </div>

  <div class="panel-footer"><%= link_to 'Create a whole superhero team' ,home_team_path %> </div>
</div>


