<!DOCTYPE html>
<html>
  <head>

    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Hero</title>
    

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    
  </head>

  <body>

<%= render 'home/navbar' %>

<div class="container">
    <%= yield %>
</div>

<br/><br/>
<br/><br/>
<br/><br/>
<center>
Copyright © DianaBasilio.Mathu.org - All Rights Reserved

</center>

  </body>
</html>
